@charset "ISO-8859-1";
html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-indent: 30px;
	font-size: 14px;
}

@font-face {
	font-family: 'Sherman Book';
	src: url('sherman_book-webfont.eot');
	src: url('sherman_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('sherman_book-webfont.woff') format('woff'),
         url('sherman_book-webfont.ttf') format('truetype'),
         url('sherman_book-webfont.svg#ShermanBook') format('svg');
	
}

.no_indent {
	text-indent: 0px;
	text-align: left;
}
.half-leading {
	line-height: 7px;
}
.box {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	padding-right: 4px;
	padding-left: 4px;
}
.underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	padding-bottom: 1px;
	border-top-width: 0px;
	border-top-style: solid;
	border-right-width: 0px;
	border-left-width: 0px;
	border-right-style: solid;
	border-left-style: solid;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}
.indent {
	padding-left: 30px;
}

@font-face {
	font-family: 'Sherman Book';
	src: url('webfonts/sherman_book-webfont.eot');
	src: url('webfonts/sherman_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/sherman_book-webfont.woff') format('woff'),
         url('webfonts/sherman_book-webfont.ttf') format('truetype'),
         url('webfonts/sherman_book-webfont.svg#ShermanBook') format('svg');
}
.sherman_mono {
	font-family: "Sherman Book";
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 24px;
}
.page_type_specs {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0px;
	word-spacing: 2px;
	font-weight: normal;
	line-height: 19px;
}
@font-face {
	font-family: 'AGBook Semibold';
	src: url('agbook_semibold-webfont.eot');
	src: url('agbook_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('agbook_semibold-webfont.woff') format('woff'),
         url('agbook_semibold-webfont.ttf') format('truetype'),
         url('agbook_semibold-webfont.svg#AGBook') format('svg');
}
#Banner {
}
#apDiv3 table tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.whitebox {
	background-color: #FFF;
}
.grey_text {
	color: #666;
}





a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
	padding-bottom: 1px;
	background-color: #FFFDB1;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #FF0;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
	position: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
#apDiv5 {
	position:absolute;
	width:244px;
	height:30;
	z-index:2;
	text-align: left;
	left: 100px;
	top: 5px;
}
#apDiv7 {
	position:absolute;
	width:78px;
	height:30;
	z-index:3;
	left: 345px;
	top: 5px;
	text-align: left;
	font-size: 11px;
}
.page_number {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 19px;
	word-spacing: 2px;
	color: #333;
}
