---
---

@import "{{ site.theme }}";
@import url(//fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600);


body {
  font-family: "IBM Plex Sans", sans-serif;
  font: 14px/1.5;
  background-color:#f7f7f5;
  padding:50px;
  color:#424242;
}

// h1 {
//   font-size:24px;
// } 

a {
   color: #424242;
	 text-decoration:none;
	 border-bottom:1px solid gainsboro;
}

a:hover {
  color: #424242;
  text-decoration:none;
  border-bottom:1px solid red;
}

