/* Webfont: abcAllegraW00-BookItalic */@font-face {
    font-family: 'abcAllegraW00-BookItalic';
    src: url('abcAllegraW00-BookItalic.eot'); /* IE9 Compat Modes */
    src: url('abcAllegraW00-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('abcAllegraW00-BookItalic.woff') format('woff'), /* Modern Browsers */
         url('abcAllegraW00-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('abcAllegraW00-BookItalic.svg#abcAllegraW00-BookItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

