/* Webfont: FaktPro-Bold */@font-face {
    font-family: 'FaktProBd';
    src: url('FaktPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('FaktPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FaktPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('FaktPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FaktPro-Bold.svg#FaktPro-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

