/* Webfont: FaktPro-Normal */@font-face {
    font-family: 'FaktProNor';
    src: url('FaktPro-Normal.eot'); /* IE9 Compat Modes */
    src: url('FaktPro-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FaktPro-Normal.woff') format('woff'), /* Modern Browsers */
         url('FaktPro-Normal.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FaktPro-Normal.svg#FaktPro-Normal') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

